<% provide :head_tags do %>
  <meta name='turbolinks-visit-control' content='reload'>

  <script>
      document.addEventListener("DOMContentLoaded", function(){
          initMap(49.048587,23.771681)
      });
  </script>
<% end %>

<div class="content mt-5 center">
  <div class="row justify-content-center">
    <h2> What we are trying to do </h2>
  </div>
  <div class="content mt-3">
    <div class="content">
      <p class="text-abz">
        Fashion is a thing that we have to keep up with, whether you like it or not. Anyway it’s important to look
        attractive. But it doesn’t mean that you should be a fashion-conscious. It may turn to a waste of money. If a
        person doesn’t have good taste he is not able to put things together. Trendy people want to stand out in a crowd,
        but sometimes they don’t look stylish.
      </p>
    </div>

    <div class="content">
      <p class="text-abz">
        First of all, think clothes should suit you. If you have good taste you can buy a big range of styles and always
        look fashionable. But clothes should suit the occasion, and put you in the right mood for the day. But there are
        people who are not able bothered about fashion, they just want to stand out in a crowd by wearing something
        unusual, old-fashioned or trendy. Actually, I’m not such a person and I guess you should choose things according
        to your personality and character, and you’ll look well-dressed even if you wear something casual.
      </p>
    </div>

    <div class="content">
    <p class="text-abz">
      I like wearing different kinds of clothes, but certainly clothes should suit the occasion. When I plan what I’m
      going to wear I usually think what kind of meeting I have. At school we weren’t allowed to wear sport or bright
      clothes, we had to wear clothes of formal style. Usually I wore a jacket, a blouse and trousers or a skirt. But I
      didn't like being dressed that way, as many other students. Really I prefer smart clothes to formal.
    </p>
    </div>
  </div>

  <!--
    <div class="content">
      <br>
      <h2 class="row justify-content-center"> You can find us here </h2><br>
      <div class="content">
        <%= image_tag "https://maps.googleapis.com/maps/api/staticmap?zoom=16&size=515x200&scale=2&markers=size:small%7Ccolor:red%7C49.048587,23.771681&key=AIzaSyDNsLvtWiV3PBz11AAjbEM7MTf5nA8jNl4", alt: "Map" %>
      </div><br>
    </div>
  -->

  <div class="content">
    <br>
    <h2 class="row justify-content-center"> You can find us here </h2><br>
    <p>
      <div id="map"></div>
    </p><br><br>
  </div>

  <script>
    function initMap(lat, lng) {
      var myCoords = new google.maps.LatLng(lat, lng);

      var mapOptions = {
        center: myCoords,
        zoom: 17
      };

      var map = new google.maps.Map(document.getElementById('map'), mapOptions);

      var marker = new google.maps.Marker({
        position: myCoords,
        map: map
      });
    }
  </script>

  <!--####################################### Add responses ####################################### -->
  <div class="content">
    <div class="border border-light rounded">
      <%= render "responses/new" %>
    </div>

    <br/>
    <br/>
    <h2 class="row justify-content-center"> All responses about our work </h2>

    <%= render "responses/index" %>
  </div>

</div>
