<h1 class="row justify-content-center"> All posts </h1>
<% @post.each do |post| %>
  <hr>
  <div class="alert alert-light">
    <div class="row">
      <div class="col-4">
        <img class="w-100 post_img" src="<%= post.nested_files %>">
      </div>

      <div class="col-8">
        <h3 class="row justify-content-center"><%= post.title %></h3>
        <p><%= post.body %></p>
      </div>
    </div><br />

    <% if current_user.admin? %>
      <%= link_to "Read next", post_path(post), class: 'btn btn-outline-primary'  %>
    <% end %>
  </div>
<% end %>