/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.btn-t{
    margin: 3px;
}

.text-abz{
    text-indent: 40px; /* Отступ первой строки в пикселах */
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    color: #000000;
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}

/*
    ADDITIONAL DEMO STYLE, NOT IMPORTANT TO MAKE THINGS WORK BUT TO MAKE IT A BIT NICER :)
*/
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    background: #f6f6f4;
    color: #000000;
    transition: all 0.3s;
}

#sidebar ul.components {
    padding: 10px 0;
    /*border-bottom: 1px solid #47748b;*/
}

#sidebar ul p {
    color: #000000;
    padding: 2px;
}

#sidebar a.title{
    color: #000000;
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a {
    color: #818181;
    padding: 5px;
    font-size: 18px;
    display: block;
}

#sidebar ul li a:hover {
    color: #000000;
    background: #818181;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #818181;
    background: #f6f6f4;
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #f6f6f4;
}

#map {
    width: 100%;
    height: 400px;
}

.response {
    background: #f6f6f4;
}

.response_img{
    width: 10%;
}